@import 'bulma/css/bulma.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

[_nghost-lhs-c25] {
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.progress-wrapper{
    display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.content{
    height: 100vh;
    margin-top: 40px;
}

.input-parts {
    margin-bottom: 20px;
}

.input{
    width: 70%;
}

.timer-label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

button{
    margin: 20px;
}